*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    outline: none
}
body{font-family: 'Poppins', sans-serif;}


/* ----------------- header / Navbar ---------------*/

nav{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    color:whitesmoke;
   
}

#navbar{
    display: flex;
    font-size: 18px;
}
#navbar-icones{
    display: flex;
    font-size: 20px;
    
}
li{
    list-style: none;
    margin: 0 10px;
}
#logo {
    font-size: 38px;
}
.navbar_component{
    color:white;
    text-decoration: none;
}

/* ----------------- first bloc / Newsletter ---------------*/

#premier_bloc{
    padding-top: 15px;
    background: radial-gradient(rgb(171, 210, 244),#3193af) ;
}

#NewsletterAndCat{
    display:flex ; 
    justify-content: center;
    margin-top: 100px;
    column-gap: 150px;
    
}
#newsletter{
    display:flex;
    flex-direction: column;
    width:500px;
    margin-top: 80px;
    row-gap: 15px;
}
#cat_img{
    width: 40%;
    height: 40%;
    margin-bottom: 100px;
}
.sub_p{
    font-size: 20px;
    color: #3c3a3a;
    margin-top: 10px;
}
.sub_h1{
    font-size: 52px;
    color: #363434;
    line-height: 1.3;
}

#InputAndBtn_Subscribe{
    display:flex;
    align-items: center;
    margin-top: 20px;
    
    
}
.sub_input{
    border-radius: 30px;
    width: 490px;
    height: 60px;
    padding:10px 145px 10px 20px;
    font-size: 16px;
    background-color: #dfedf1;
    font-family: 'Poppins', sans-serif;
    border: none;
    position: absolute;
}
.sub_btn{
    border-radius: 100px;
    height: 49px;
    width:150px;
    left:333px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #3698b3;
    color:white;
    position: relative;
    font-size: 20px;

    }

/* -----------------Second block / cards ---------------*/

#second_bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    row-gap: 10px;
    margin-bottom: 130px;
}
#second_bloc h2{
    font-size: 38px;
    color: #363434;
   
}
.second_bloc_p {
    font-size: 19px;
    color: #878282;
    width: 650px;
    text-align: center;
}

.cards{
    display: flex;
   justify-content: center;
   column-gap: 30px;
   width:100% ;
   margin-top: 80px;
   
}

.card{
    width: 450px;
    height: 400px;
    background: radial-gradient(rgb(171, 210, 244),#3193af) ;
    color:whitesmoke;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    padding :0px 20px 0px 20px;
    box-shadow: -4px  4px 10px #9f9d9d;
}
.card i{
    font-size: 50px;
}
.card h3{
    font-size: 25px;
}


/* ----------------- third bloc ---------------*/

#third_bloc{
background-color: #f4f0f0;
text-align: center;
height: 800px;
padding-top: 100px;
}


#third_bloc h2{
    font-size: 38px;
    color: #363434;
}
#third_bloc p {
    font-size: 19px;
    color: #878282;
    width: 650px;
    margin: 8px auto 0px auto;
}


/* ----------------- fourth bloc / Team members and stats ---------------*/

/*intro team bloc */
#team_bloc{
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    align-items: center;
    margin-bottom: 100px;
    padding: 100px 0px 0px 0px;
}
#team_presentation{
    display: flex;
    flex-direction: column;
   
    width:850px;
    text-align: center;
    row-gap: 10px;
    margin-bottom: 20px;
}
#team_presentation h2{
    font-size: 36px;
    color: #363434;
    font-weight: 600;
   
}
#team_presentation p {
    font-size: 20px;
    color: #b1abab;
}

/* stats bloc */
#team_stats{
    display:flex;
    text-align: center;
    justify-content: center;
    column-gap: 110px;
    width : 100%;
}
#team_stats h4{
    font-size: 30px;
    font-weight: 600;
}
.stat{
    width: 240px;
}
#team_stats p{
    font-size: 17px;
    color: #b1abab;
    margin-top: -8px;
}
#team_pictures{
    display: flex;
    justify-content: center;
    column-gap: 110px;
    
    text-align: center;
    width:100%;
}
.associate_picture{
    width: 240px;
    height: 240px;
    border-radius: 50%; 
}
#team_pictures h4{
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}
#team_pictures p{
    color: #b1abab;
    font-size: 15px;
    
}

/* ----------------- fifth bloc / parallax ---------------*/

#parallax_bloc {
    position: relative;
    height: 545px;
    margin-bottom: 500px;
  
  }
  
  #parallax_background {
    background-image: url(/img/parallax.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
  }
  
  #parallax_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 28, 28, 0.6);
   
  }
  
  #TextAndBtn_parallax {
    text-align: center;
    position: relative;
    padding-top: 170px;
    
  }
  
  #TextAndBtn_parallax h2 {
    font-size: 36px;
    font-weight: 600;
    color : #ffffff;
  }
  
  #TextAndBtn_parallax p {
    font-size: 18px;
    width: 1200px;
    margin: 20px auto 50px auto;;
    color: #ccc6c6;

  }

  #TextAndBtn_parallax button {
    border-radius: 5px;
    height: 53px;
    width:175px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    color:white;
    font-size: 19px;
    
  }
