*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    outline: none
}
body{font-family: 'Poppins', sans-serif;}

#premier_bloc{
    padding-top: 15px;
    background: radial-gradient(rgb(171, 210, 244),#3193af) ;
}
nav{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    color:whitesmoke;
   
}

#navbar{
    display: flex;
}
#navbar-icones{
    display: flex;
    
}
li{
    list-style: none;
    margin: 0 10px;
}
#logo {
    font-size: 28px;
}
.navbar_component{
    color:white;
    text-decoration: none;
}

#NewsletterAndCat{
    display:flex ; 
    justify-content: center;
    margin-top: 100px;
    column-gap: 150px;
    
}
#newsletter{
    display:flex;
    flex-direction: column;
    width:23%;
    margin-top: 90px;
    row-gap: 15px;
}
#cat_img{
    width: 40%;
    height: 40%;
    margin-bottom: 100px;
}
.sub_p{
    font-size: 15px;
    color: #3c3a3a;
    margin-top: 10px;
}
.sub_h1{
    font-size: 40px;
    color: #363434;
    line-height: 1.3;
}

#InputAndBtn_Subscribe{
    display:flex;
    align-items: center;
    margin-top: 20px;
    
    
}
.sub_input{
    border-radius: 30px;
    width: 373px;
    padding:10px 145px 10px 20px;
    font-size: 12px;
    background-color: #dfedf1;
    font-family: 'Poppins', sans-serif;
    border: none;
    position: absolute;
}
.sub_btn{
    border-radius: 20px;
    height: 30px;
    width:120px;
    left:250px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #0f8caf;
    color:white;
    position: relative;

    }

/* ----------------- cards ---------------*/

#second_bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    row-gap: 10px;
}
#second_bloc h2{
    font-size: 35px;
    color: #363434;
   
}
.second_bloc_p {
    font-size: 17px;
    color: #878282;
    width: 600px;
    text-align: center;
}

.cards{
    display: flex;
   justify-content: center;
   column-gap: 30px;
   width:100% ;
   margin-top: 50px;
}

.card{
    width: 373px;
    height: 373px;
    background: radial-gradient(rgb(171, 210, 244),#3193af) ;
    color:whitesmoke;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    padding :0px 20px 0px 20px 
}
.card i{
    font-size: 50px;
}
.card h3{
    font-size: 25px;
}

